{% extends "plotrequest/base.html" %}

{% block head %}
    <header>
<nav class="navbar top-nav-collapse scrolling-navbar fixed-top">
  <a class="navbar-brand" href="#">
    <img src="{% static "plotrequest/img/logo-bpptkg.png" %}" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <nav class="navbar-brands">BPPTKG</nav>
</nav>
<div id="includeHeader"></div>
    <header>
        <div class="bgimg-1">
  <div class="caption">
  <span class="border">SELAMAT DATANG</span>
  <H2>MENYEDIAKAN INFORMASI SEPUTAR KEBENCAAN</H2>
  </div>
</div>
    </header>
{% endblock %}
